# Compiled class files
*.class
build/
out/

# IDE files
.idea/
*.iml
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# JavaFX runtime (if included)
javafx-sdk/

# .sh files depend on machine
*.sh

# avoid committing JDBC driver
lib/*.jar 
